.primary-color {
    color: #F1CDB3;

}
.light-xl {
    color: #FFFFFF;

}
.dark-s {
    color: #CDCDCD;

}
.light-s {
    color: #FAFAFA;

}
.dark-l {
    color: #545454;

}
.dark-3xl {
    color: #292929;

}