.georgria-400 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
}
.arial-400 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
}